@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_bold.ttf");
  font-weight: 700;
  font-style: normal;
}