// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-transparent: rgba(255, 255, 255, 0);


// Typography
$ff-main: "Unbounded", "Arial", sans-serif;
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
$transition-400: ease-in 0.4s;
$transition-800: ease-out 0.8s;
