.burger {
	background-color: transparent;
	padding: 0;
	border: none;
	height: 48px;
	width: 48px;
	position: relative;
	cursor: pointer;
	outline: none;
	z-index: 20;
	$root: &;

	@include vp-767 {
		width: 32px;
		height: 32px;
	}

	.header--open & {
		#{$root}__line {
			top: calc(50% - 2px);
			transform: translate(-50%, 0) rotate(45deg);
			transition: top $transition-300, transform $transition-300 0.3s;
		}

		#{$root}__line--bottom {
			transform: translate(-50%, 0) rotate(-45deg);
		}
	}

	&__line {
		position: absolute;
		top: calc(50% - 10px);
		left: 50%;
		transform: translate(-50%, 0);
		width: 80%;
		height: 3px;
		background-color: $color-white;
		transition: top $transition-300 0.3s, transform $transition-300;

		@include vp-1023 {
			top: calc(50% - 6px);
			background-color: $color-black;
		}

		&--bottom {
			top: calc(50% + 6px);

			@include vp-1023 {
				top: calc(50% + 4px);
			}
		}
	}
}
