.burger {
	display: none;
	background-color: transparent;
	padding: 0;
	border: none;
	height: 48px;
	width: 48px;
	position: relative;
	cursor: pointer;
	outline: none;
	z-index: 20;
	$root: &;

	@include vp-767 {
		display: flex;
		opacity: 0;
		transform: translateY(-200px);
		animation: fadeInDown $transition-800 forwards 1s;
	}

	.hero--open & {
		#{$root}__line {
			top: calc(50% - 2px);
			transform: translate(-50%, 0) rotate(45deg);
			transition: top $transition-300, transform $transition-300 0.3s;
		}

		#{$root}__line--bottom {
			transform: translate(-50%, 0) rotate(-45deg);
		}
	}

	&__line {
		position: absolute;
		top: calc(50% - 10px);
		left: 50%;
		transform: translate(-50%, 0);
		width: 80%;
		height: 3px;
		background-color: $color-white;
		transition: top $transition-300 0.3s, transform $transition-300;

		&--bottom {
			top: calc(50% + 6px);
		}
	}
}
