.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
	height: 100vh;
	display: flex;
	flex-direction: column;
	filter: blur(50px);
	animation: blur linear 0.9s forwards;
	position: relative;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__top {
		width: 100%;
		padding: 10px 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		position: relative;

		@include vp-767 {
			padding: 10px;
		}

		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 0px;
			height: 1px;
			background-color: $color-white;
			animation: fadeInWidth ease-in-out 0.8s forwards 1s;

			@include vp-767 {
				animation: fadeInWidthMobile ease-in-out 0.8s forwards 1s;
			}
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transform: translateY(-200px);
		animation: fadeInDown $transition-800 forwards 1s;

		&-icon {
			width: 100px;
			height: 95px;
			flex-shrink: 0;

			@include vp-1023 {
				width: 80px;
				height: 75px;
			}
		}
	}

	&__links {
		padding: 0 0 0 50px;
		display: flex;
		align-items: center;
		gap: 50px;
		position: relative;
		transition: clip-path $transition-300;

		@include vp-1023 {
			padding: 0 0 0 20px;
			gap: 20px;
		}

		@include vp-767 {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			gap: 30px;
			width: calc(100% - 60px);
			padding: 30px 30px 50px;
			flex-direction: column;
			backdrop-filter: blur(10px);
			border-bottom: 1px solid #fff;
			clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
			pointer-events: none;
			transition: transform $transition-400, clip-path $transition-300;
			z-index: 10;

			.hero--open & {
				transform: translate(-50%, 100%);
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
				pointer-events: all;
				transition: transform $transition-400, clip-path $transition-400;
			}
		}

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			height: 0;
			width: 1px;
			background-color: #fff;
			animation: fadeInHeigth ease-in-out 0.8s forwards 1s;

			@include vp-767 {
				animation: none;
				height: 80%;
			}
		}

		&::after {
			@include vp-767 {
				position: absolute;
				content: '';
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				height: 80%;
				width: 1px;
				background-color: #fff;
			}
		}
	}

	&__link {
		padding: 20px 30px;
		display: flex;
		color: $color-white;
		font-size: 18px;
		line-height: 22px;
		outline: none;
		position: relative;
		opacity: 0;
		transform: translateY(-200px);
		animation: fadeInDown $transition-800 forwards 1s;

		@include vp-1023 {
			padding: 10px 20px;
			font-size: 16px;
			line-height: 24px;
		}

		@include vp-767 {
			transform: none;
			opacity: 1;
			animation: none;
		}

		&:not(:disabled):hover,
		&:focus-visible {
			&::before {
				width: calc(100% - 40px);
			}
		}

		&::before {
			position: absolute;
			content: '';
			bottom: 5px;
			left: 50%;
			transform: translateX(-50%);
			height: 3px;
			width: 0;
			background-color: $color-white;
			transition: width $transition-300;

			@include vp-1023 {
				height: 1px;
			}

			@include vp-767 {
				width: calc(100% - 40px);
			}
		}

		&--bg {
			background-color: #2e2bd0;
			border-radius: 10px;
			gap: 10px;
			transition: background-color $transition-300;

			&:not(:disabled):hover,
			&:focus-visible {
				background-color: rgba(45, 42, 207, 0.6);
			}

			&::before {
				content: unset;
			}

			&-icon {
				width: 24px;
				height: 24px;
				color: $color-white;
			}
		}
	}

	&__main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 100px;
		position: relative;

		@include vp-1023 {
			padding: 0 60px;
		}

		@include vp-767 {
			padding: 30px;
		}
	}

	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;

		@include vp-1023 {
			gap: 10px;
		}

		@include vp-767 {
			gap: 20px;
		}
	}

	&__title {
		margin: 0;
		font-weight: 300;
		font-size: 46px;
		line-height: 50px;
		color: $color-white;
		transform: translate(0, 200px);
		opacity: 0;
		animation: fadeInUp $transition-800 forwards 2.3s;

		@include vp-1023 {
			font-size: 36px;
			line-height: 40px;
		}
	}

	&__label {
		font-weight: 300;
		font-size: 20px;
		line-height: 22px;
		color: $color-white;
		transform: translate(0, 200px);
		opacity: 0;
		animation: fadeInUp $transition-800 forwards 3.1s;

		@include vp-1023 {
			font-size: 18px;
			line-height: 20px;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 180px;
		height: 180px;
		color: $color-white;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		border: 1px solid $color-white;
		border-radius: 50%;
		backdrop-filter: blur(5px);
		outline: none;
		transition: background-color $transition-300;
		transform: translate(0, 200px);
		opacity: 0;
		animation: fadeInUp $transition-800 forwards 1.5s;

		@include vp-1023 {
			width: 140px;
			height: 140px;
			font-size: 16px;
			line-height: 20px;
		}

		&:not(:disabled):hover,
		&:focus-visible {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	&__down {
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: arrowBottom 1.7s infinite ease;

		&-icon {
			width: 50px;
			height: 50px;
			color: $color-white;

			@include vp-1023 {
				width: 30px;
				height: 30px;
			}
		}
	}
}
