.k4s16 {
  margin: 0 0 120px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__video {
    width: 1280px;
    height: 720px;

    @include vp-767 {
      width: 100%;
      height: auto;
    }
  }
}